@use "../mixins/responsive" as *;

.contact {
  &__title {
    color: light-dark(#000000, #ffffff);
    margin-bottom: 2rem;

    @include mobile;
    @include tablet;
  }

  &__content {
    color: light-dark(#666666, #a0a0a0);
    line-height: 1.5;
    text-align: left;

    @include mobile;
    @include tablet;
  }
}
