---
import "../styles/pages/about.scss";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About">
  <h1 class="section__title">Introduction</h1>
  <div class="section__content">
    <p>description</p>
  </div>
</PageLayout>
