---
import '../styles/pages/about.scss';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<div class="about">
		<main class="about__main">
			<h1 class="about__title">Introduction</h1>
			<div class="about__content">
				<p>description</p>
			</div>
		</main>
	</div>
</Layout> 