---
import '../styles/pages/contact.scss';
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Contact">
	<div class="contact">
		<main class="contact__main">
			<h1 class="contact__title">Contact</h1>
			<div class="contact__content">
				<p>010</p>
			</div>
		</main>
	</div>
</Layout>