---
import "../styles/pages/contact.scss";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Contact">
  <h1 class="section__title">Contact</h1>
  <div class="section__content">
    <p>010</p>
  </div>
</PageLayout>
