@use "../../mixins/responsive" as *;

.menu-toggle {
  display: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: var(--color-text);
  transition: color var(--transition-duration) var(--transition-timing);
  -webkit-tap-highlight-color: transparent;
  z-index: 3;

  &:active {
    background: light-dark(#d0d0d0, #3a3a3a);
  }

  @include mobile {
    display: block;
    height: 100%;
    aspect-ratio: 1;
  }
}
