@use "../mixins/responsive" as *;

.home {
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;

    @include mobile {
      height: 60px;
    }

    @include tablet {
      height: 80px;
    }
  }
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;

  &__menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;

    &__button {
      width: 150px;
      height: 45px;
      display: grid;
      place-items: center;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 15px;
      transition: all 0.2s ease-in-out;

      background: linear-gradient(
        135deg,
        light-dark(#d9e7f6, #2c3a47) 0%,
        light-dark(#f5fcff, #2c3a47) 100%
      );
      box-shadow: 5px 5px 8px light-dark(#0000002a, #1f262e),
        -5px -5px 8px light-dark(#ffffff2a, #33404d);

      &:hover {
        box-shadow: 2px 2px 5px light-dark(#0000002a, #1f262e),
          -2px -2px 5px light-dark(#ffffff2a, #33404d),
          inset 3px 3px 5px light-dark(#0000002a, #1f262e),
          inset -3px -3px 5px light-dark(#d9e7f6, #33404d);
      }

      &:active {
        box-shadow: inset 5px 5px 8px light-dark(#0000002a, #1f262e),
          inset -6px -6px 10px light-dark(#d9e7f6, #33404d);
      }

      @include mobile {
        width: auto;
        height: auto;
        padding: 12px 20px;
      }
    }
  }

  nav {
    width: 100%;
    height: 100%;
    display: flex;

    ul {
      display: flex;
      min-width: 0;
      gap: 2rem;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 2rem;
      margin-right: 10px;

      li {
        display: grid;
        place-items: center;
      }
    }
  }
}

.menu-toggle {
  display: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: light-dark(#333333, #ffffff);
  transition: color 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  z-index: 3;

  &:active {
    background: light-dark(#d0d0d0, #3a3a3a);
  }

  @include mobile {
    display: block;
    height: 100%;
    aspect-ratio: 1;
  }
}
