---
import "../styles/global.scss";
import "../styles/layouts/base.scss";
import SideBar from "../components/menus/SideBar.astro";
import Header from "./HeaderLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="content">
      <div class="sidebar__background" id="sidebar">
        <div class="sidebar__body">
          <SideBar />
        </div>
      </div>
      <div class="main-content">
        <slot />
      </div>
    </div>
  </body>
</html>

<script>
  const menuToggle = document.getElementById("menuToggle");
  const sidebar = document.getElementById("sidebar");

  menuToggle?.addEventListener("click", () => {
    sidebar?.classList.toggle("active");
  });
</script>
