---
import MenuIcon from "../components/icons/MenuIcon.astro";
import "../styles/layouts/header.scss";
---

<header class="home__header">
  <div class="header">
    <button class="menu-toggle" id="menuToggle">
      <MenuIcon />
    </button>
    <nav>
      <div class="header__menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
