@use "../variables" as *;
@use "./_responsive" as *;

@mixin page-layout {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-primary-light) 30%,
    var(--color-background) 60%
  );

  @include mobile;
  @include tablet;
  @include laptop;
  @include desktop;
}

@mixin content-container {
  text-align: center;
  background: var(--color-background);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 1200px;
  overflow-x: hidden;
  overflow-y: auto;

  @include mobile {
    width: 100vw;
  }
  @include tablet {
    width: 550px;
  }
  @include laptop {
    width: 700px;
  }
  @include desktop {
    width: 900px;
  }
}

@mixin page-title {
  color: var(--color-primary-dark);
  margin-bottom: var(--spacing-large);

  @include mobile;
  @include tablet;
  @include laptop;
  @include desktop;
}

@mixin page-content {
  color: var(--color-text-secondary);
  line-height: var(--line-height-base);
  text-align: left;

  @include mobile;
  @include tablet;
  @include laptop;
  @include desktop;
}
